<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>tilleryj</string>
	<key>uuid</key>
	<string>F0BB298D-4704-47F8-9050-629E30798C9D</string>
</dict>
</plist>
