<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>tilleryj</string>
	<key>ordering</key>
	<array>
		<string>3B7E16C9-0D34-42D4-8431-06CB7D819655</string>
		<string>2CDD05C5-A86D-456B-B9F3-A4D89570D626</string>
		<string>34EB52BC-0C16-4B96-AD19-8AC299A78620</string>
		<string>80538C58-F06D-4EF6-8C4E-437B0CB6382F</string>
		<string>52F297AE-964D-4D78-B2D6-5B4CBF5ED9B4</string>
		<string>501AC61B-C41F-4FF5-9F95-B59D63F3C49B</string>
	</array>
	<key>uuid</key>
	<string>F0BB298D-4704-47F8-9050-629E30798C9D</string>
</dict>
</plist>
